{% extends 'index.html' %}

{% block head %}
    <meta id="post_id" content="{{ post.id }}">
    <meta id="arrow_url" content="{{ url_for('static', filename='data/arrow.png') }}">
    <meta id="arrow_active_url" content="{{ url_for('static', filename='data/arrow-active.png') }}">
{% endblock %}

{% block content %}
    <img class="vote-btn" {% if vote and vote.value == 1 %}src="{{ url_for('static', filename='data/arrow-active.png') }}"{% else %}src="{{ url_for('static', filename='data/arrow.png') }}"{% endif %} id="upvote">
    <span id="vote_count">{{ post.vote_count }}</span>
    <img class="vote-btn downvote" {% if vote and vote.value == -1 %}src="{{ url_for('static', filename='data/arrow-active.png') }}"{% else %}src="{{ url_for('static', filename='data/arrow.png') }}"{% endif %} id="downvote">
    <hr>
    <span>{{ post.title }}</span>
    <hr>
    <span>{{ post.content }}</span>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/post.js') }}"></script>
{% endblock content %}