{% extends 'index.html' %}

{% block head %}
    <meta id="post_id" content="{{ post.id }}">
{% endblock %}

{% block content %}
    <button id="upvote" {% if vote and vote.value == 1 %}style="background-color: red"{% endif %}>UPVOTE</button>
    <span id="vote_count">{{ post.vote_count }}</span>
    <button id="downvote" {% if vote and vote.value == -1 %}style="background-color: red"{% endif %}>DOWNVOTE</button>
    <hr>
    <span>{{ post.title }}</span>
    <hr>
    <span>{{ post.content }}</span>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/post.js') }}"></script>
{% endblock content %}