{% extends 'index.html' %}

{% block head %}
    <meta id="user_id" content="{{ user.id }}">
    <!-- This page counter is changed dynamically in profile.js -->
    <meta id="page" content="0">
{% endblock %}

{% block content %}
    {% if user.posts %}
        {% for post in user.posts %}
            <div class="feed-post" id="{{ post.id }}">
                <a href="{{ url_for('post', post_id=post.id) }}">
                    <div class="row mx-auto">
                        <span>{{ post.title }}</span><span class="post-info">Posted by {{ post.user }} {{ post.timestamp }}</span>
                    </div>
                    <div class="row mx-auto">
                        <p class="post-content">{{ post.preview }}</p>
                    </div>
                </a>
                <div class="row mx-auto delete-btn-container">
                    <button class="delete-btn" name="delete" value="{{ post.id }}">Delete</button>
                </div>
            </div>
        {% endfor %}
        {% if user.posts|length > 5 %}
            <div class="row justify-content-center mx-auto">
                <img class="pagination-btn prev" id="previous" src="{{ url_for('static', filename='data/arrow-active.png') }}">
                <span id="page_display">1</span>
                <img class="pagination-btn next" id="next" src="{{ url_for('static', filename='data/arrow-active.png') }}">
            </div>
        {% endif %}
    {% else %}
        <span> No posts yet... Create one! </span>
    {% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pagination.js') }}"></script>
{% endblock content %}