{% extends 'index.html' %}

{% block head %}
    <meta id="user_id" content="{{ user.id }}">
{% endblock %}

{% block content %}
    <a href="{{ url_for('create', user_id=user.id) }}"><button>CREATE</button></a> <br>
    <hr>
    {% if user.posts %}
        {% for post in user.posts %}
            <div id="{{ post.id }}">
                <a href="{{ url_for('post', post_id=post.id) }}">
                    <span>{{ post.title }}</span> <br>
                    <span>{{ post.user }}</span><br>
                    <span>{{ post.created_at }}</span><br>
                </a>
                <button name="delete" value="{{ post.id }}">DELETE</button>
            </div>
        <hr>
        {% endfor %}
    {% else %}
        <span> No posts yet... Create one! </span>
    {% endif %}
{% endblock content %}