{% extends 'index.html' %}

{% block nav %}
    <img class="logo" src="{{ url_for('static', filename='data/clone.png') }}">
{% endblock %}

{% block content %}
    <form method="POST" action="/register" id="register_form" enctype=multipart/form-data>
        <div class="row justify-content-center mx-auto">
            <div class="col-2 col-lg-1">
                <label for="username">Username</label>
            </div>
            <div class="col-6 col-lg-3">
                <input type="text" name="username" id="username" required>
            </div>
        </div>
        <div class="row justify-content-center mx-auto">
            <div class="col-2 col-lg-1">
                <label for="email">Email</label>
            </div>
            <div class="col-6 col-lg-3">
                <input type="text" name="email" id="email" required>
            </div>
        </div>
        <div class="row justify-content-center mx-auto">
            <!-- For a custom styled file upload, we hide the input and style the label too look like a button. -->
            <!-- The "for" property in label makes the label click function as an input click. -->
            <div class="col-4 col-lg-2">
                <label for="picture" class="upload-btn">Picture</label>
                <input type=file name=picture id="picture" hidden>
            </div>
        </div>
        <div class="row justify-content-center mx-auto">
            <div class="col-4 col-lg-2">
                <button type="submit">SUBMIT</button>
            </div>
        </div>
    </form>
{% endblock %}