/* Color palette - light/dark mode */
:root {
    --primary-color: #bc5a45;
    --background-color: white;
}

[color-mode="dark"] {
    --primary-color: #f18973;
    --background-color: black;
}

/* Global */
html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 100px;
    background-color: var(--background-color);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: none !important;
}

a:hover {
    color: black;
}

input:focus {
    outline-color: var(--primary-color);
}

textarea:focus {
    outline-color: var(--primary-color);
}

.logo {
    position: fixed;
    top: 5px;
    left: 15px;
    width: 70px;
    height: 40px;
    border: 2px solid black;
}

.profile-link {
    position: fixed;
    top: 10px;
    right: 15px;
}

.profile-picture {
    margin-top: -5px;
    border: 1px solid black;
    border-radius: 100%;
    height: 40px;
}

.btn {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    padding: 3px 10px 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.btn-nav {
    width: 100px;
    text-align: center;
    padding: 0;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.btn-nav:hover {
    background-color: white;
    color: black;
    border-color: black;
}

/* Registration */
.register-input {
    width: 100%;
    margin-bottom: 20px;
}

.upload-btn {
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 3px 10px 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.post-info {
    font-style: italic;
    margin-left: 20px;
}

/* Feed and Profile */
.feed-post {
    display: none;
}

.pagination-btn {
    width: 20px;
    margin-top: 1px;
    margin-bottom: 50px;
    cursor: pointer;
}

.prev {
    transform: rotate(-90deg);
    margin-right: 10px;
}

.next {
    transform: rotate(90deg);
    margin-left: 10px;
}

.delete-btn {
    width: 100px;
    text-align: center;
    padding: 3px 10px 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-left: 45px;
}

.delete-btn:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.delete-btn-container {
    margin-top: -40px;
    margin-bottom: 50px;
}

/* Post */
.vote-container {
    margin-left: -15px;
}

.vote-count {
    margin-left: 5px;
}

.vote-btn {
    cursor: pointer;
    width: 20px;
}

.downvote {
    transform: scaleY(-1);
}

.post-title {
    margin-left: 30px;
}

.post-content {
    width: 100%;
    margin: 10px 0 50px 45px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

/* Create */
.create-input {
    width: 100%;
    margin-bottom: 20px;
}
