/* Global */
html {
    height: 100%;
}

body {
    height: 100%;
}

/* Registration */
#register_form > .row {
    margin-top: 10px;
}

.upload-btn {
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 3px 10px 3px 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* Feed and Profile */
.feed-post {
    display: none;
}

.post-preview-container {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

/* Post */
.vote-container {
    margin-left: -15px;
}

.vote-count {
    margin-left: 5px;
}

.vote-btn {
    cursor: pointer;
    width: 20px;
}

.downvote {
    transform: scaleY(-1);
}

.post-title {
    margin-left: 30px;
}

.post-content {
    width: 100%;
    margin: 10px 0 20px 45px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
